
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background: linear-gradient(to right, #d3cce3, #e9e4f0);
	color: #1B1A17;
	overflow-x: hidden;
}

header {
    display: flex;
	width: 100%;
    font-weight: 700;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

a {
    text-align: center;
	text-decoration: none;
	color:#171717;
}

.header {
    display: flex;
    flex-direction: row;
    background: #e9e4f0;
    width: 70vw;
    justify-content: flex-start;
    padding: 15px;
}

#header-title {
    font-size: 25px;
    font-weight: 600;
	padding-left: 70px;
}

.container {
    display: flex;
    background: #e9e4f0;
    width: 30vw;
    justify-content: space-around;
    padding: 20px;
    font-weight: 500;
}

#sobre:hover {
    cursor: pointer;
    text-decoration: underline;
	color: #4B6587;
}

#header-title:hover {
    cursor: pointer;
    color: #4B6587;
}

.containerForm {
	width: 100vw;
	height: 100vh;
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 7%;
}

#title {
    padding: 15px;
}

form {
	height: 40vh;
	width: 80vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 2%;
	font-size: 1.2em;
	background: rgba(255, 255, 255, 0.75);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8.3px);
	-webkit-backdrop-filter: blur(8.3px);
	border: 1px solid rgba(255, 255, 255, 0.06);
}

label {
	padding: 20px;
}

textarea {
    resize: none;
}

.caixaDeTexto {
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.caixaDeTexto label {
    text-align: center;
}

.seletores {
    display: flex;
    flex-direction: column;
}

.seletores label {
    text-align: center;
}

.entradaCifra {
	padding: 5px;
}

#incrementoCifra {
	font-size: 12px;
	margin-top: 10px;
}

.radioButton {
	display: flex;
}

#codificarOuDecodificar {
	background: #383838;
	color: white;
	padding: 12px;
	border-radius: 5px;
	font-weight: 500;
	font-size: .8em;
}

#codificarOuDecodificar:hover {
	background-color: #4B6587;
}

#como-funciona{
	font-size: 16px;
	background: #e9e4f0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 100vh;
    min-width: 100%;
}

.sobre-cifra{
	width: 500px;
	height: 400px;
	position: relative;
	overflow: hidden;
	background: #d3cce3;
	border-radius: 10px 0 10px 0;
	box-shadow: 0 10px 20px #171717;
}

.texto{
	padding: 15px;
	width: 100%;
	text-align: center;
	font-size: 15px;
}
.sobre-cifra .texto h3{
	font-weight: 500;
	font-size: 40px;
	text-align: center;
	margin: 20px 0 15px;
    padding: 15px;
    text-shadow:#000 -1px -1px 2px;

}
.sobre-cifra .texto p{
	text-align: center;
	padding: 15px;
	font-weight: 500;
	letter-spacing: 2px;
}

/* responsividade para dispositivos móveis*/
@media (max-width: 800px) {
	.containerForm {
		display: flex;
		margin-top: 10%;
	}
	
	form {
		display: flex;
		flex-direction: column;
		width: 90vw;
		height: 100vh;
	}

	.caixaDeTexto {
		padding: 2%;
	}
}